.header::after {
  content: "";
  width: 12px;
  height: 20px;
  position: absolute;
  background-image: url(../images/svg/header_rewardsetting.svg);
  background-repeat: no-repeat;
  left: 23px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.footer__objective .footer__btn {
  color: #ff9c4a;
}

.footer__objective .footer__btn::before {
  background-color: #ff9c4a;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

button {
  font-size: 1.3rem;
}

.check {
  width: 354px;
  margin: 0 auto;
  color: #707070;
}

.check__head {
  justify-content: space-between;
  margin: 15px 0 20px 0;
}

.check__wrap {
  border: 1px solid #707070;
  padding: 10px;
  margin: 10px 0;
}

.check__wrap:last-of-type {
  margin-bottom: 0;
}

.check__title {
  padding: 5px 0;
}

.check__content {
  margin: 5px 0;
}

.check__text {
  font-size: 1.3rem;
  margin-top: 1px;
}

.check__item {
  margin-left: 15px;
  font-size: 1.3rem;
}

.check__item__price {
  font-weight: bold;
}

.check__receipt {
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 5px 0;
  border-bottom: 1px solid #707070;
}

.check__receipt:nth-child(1) {
  margin-bottom: 10px;
  border: none;
}

.check__receipt:nth-child(3n) {
  font-weight: bold;
}

.check__receipt:last-child {
  border: none;
}

.check__btn {
  margin-top: 60px;
  margin-bottom: 40px;
}
